/*
CSS from 08:00 AM to 6:00PM
By Sirius
For SiriusHD.CH
V5.0
*/
body {
	background-color: #fff;
}
	
.header {
    background-image: url(http://pict.siriushd.net/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    height: 100vh;
}

.logo img { 
	filter: grayscale(150%);
    -webkit-filter: grayscale(150%); 
    filter: gray;
    -webkit-transition: all .6s ease; 
}

.logo img:hover {    
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none; 
}
.social {
	font-size: 20px;
}

.social a:link {
	color: black;
}
.social a:visited {
	color: black;
}
.social a:hover {
	color: orange;
	transition: all 0.3s ease-in-out 0s;
}
.social a:active {
	color: orange;
}

.card {
 	box-shadow: 5px 5px 5px grey;
    border-radius: 0 !important;
    padding-left: 10px;
}

img {
	padding: 10px;
}
.header-content-inner {
	color: black;
	background: rgba(255, 255, 255, 0.5);
	padding: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
}
.version {
	position: absolute;
	bottom: 0px;
	left: 0px;
}